 
obj
bin
test-results
bin/*
obj/*
[Bb]in/*
[Oo]bj/*
_ReSharper.*/

*/bin/*
*/obj/*
*/*/bin/*
*/*/obj/*
*/*/*/bin/*
*/*/*/obj/*
*_ReSharper.*/

_UpgradeReport_Files
UpgradeLog.* 
@@ -25,4 +30,4 @@ UpgradeLog.*
*.exe
*.mdb
*.pdb
*.cache
 No newline at end of file
*.cache 
 No newline at end of file
DrU.v11.suo
DrU.v12.suo
DrU/obj/iPhone/Release/DesignTimeResolveAssemblyReferencesInput.cache
DrU/obj/iPhone/Release/DesignTimeResolveAssemblyReferencesInput.cache
DrU.v12.suo